<header>
        <h1>
            <a href="/">Scaffale</a>
        </h1>
    <div class="new--user">
        <nav>
            <a href=""><%= link_to '新規登録', new_user_path %></a>
        </nav>
    </div>
</header>

<div class="maincontents">
    <div class="login_form_top">
        <p>ユーザID、パスワードをご入力の上、『ログイン』ボタンを押してください</p>
    </div>
    <div class="login_form_btm">
        <%= form_tag top_login_path, method: :post do %>
            <p><%= label_tag :email, 'email' %></p>
            <%= text_field_tag :email %>
            <p><%= label_tag :pass, 'パスワード' %></p>
            <%= password_field_tag :pass %><br>
            <p><%= link_to "← 戻る", root_path %></p>
            <%= submit_tag 'ログイン', class: "button" %>
        <% end %>
    </div>
</div>