<header>
    <h1>
        <a href="/">Scaffale</a>
    </h1>
</header>

<body>
    <% if @user.errors.present? %>
        <h3>エラーがあります。</h3>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    
    <%= form_for @user , tdate: {action: :create} do |f| %>
        <p><%= f.label :email, 'email' %></p>
        <%= f.text_field :email %>
        <p><%= f.label :password, 'password' %></p>
        <%= f.password_field :password %>
        <p><%= f.label :password_confirmation, 'password(confirmation)' %></p>
        <%= f.password_field :password_confirmation %>
        <p><%= link_to "← 戻る", root_path %></p>
        <%= f.submit '登録' , class: "button"%>
    <% end %>
</body>