<h1>show temp and edit</h1>
<% if @shelfdata==nil %>
    <%= "no data"  %><br>
<% else %>
    <% @shelfdata.each do |d| %>
        <% data=googlebookapi_search_one(d.googlebooksid) %>
        <%= data.title %><br>
        <%= link_to image_tag("#{data.thumbnail}"), "#{data.link}" %><br>
        <%= link_to 'delete', "/#{d.id}/delete" %><br>
    <% end %>
<% end %>

<%= link_to 'add book', "/add" %>