<header>
    <h1>
        <a href="/">Scaffale</a>
    </h1>
    
    <div class="login">
        <nav>
            <a href="#">
                <% if session[:email] %>
                    <%= link_to 'ログアウト', top_logout_path %>
                <% else %>
                    <%= link_to 'ログイン', top_main_path %>
                <% end %>
            </a>
        </nav>
    </div>
</header>

<% if session[:email] %>
    <p><%= link_to 'new', "/new" %></p>
    <p><%= link_to 'edit user info', "#" %></p>
<% end %>

<% @bookshelves.each do |data| %>
    <%= data.title %><br>
    <% shelfdata=BookCollectionList.where(Bookshelf_id: data.id) %>
    
    <% shelfdata.first(3).each do |d| %>
        <% bookdata=googlebookapi_search_one(d.googlebooksid) %>
        <%= bookdata.title %><br>
        <%= link_to image_tag("#{bookdata.thumbnail}"), "#{bookdata.link}" %><br>
    <% end %>
    
    <% if session[:email] %>
        <%= link_to 'show', "/#{data.id}/showshelf" %><br>
    <% end %>
    <br>
<% end %>