<div class="navi_index">
<% if session[:email] %>
    <%= link_to '新規作成', "/new" %>
    <%= link_to 'ユーザー情報の変更', "#" %>
<% end %>
</div>

<% if session[:email] %>
<div class="maincontents">
<% @bookshelves.each do |data| %>
<div class="shelf">
    
    <h2><%= link_to data.title, "/#{data.id}/showshelf" %></h2>
    <% shelfdata=BookCollectionList.where(Bookshelf_id: data.id) %>
    <% thumbnail_length=6 %>
    
    <div class="books">
    <% shelfdata.first(thumbnail_length).each do |d| %>
        <div class="book">
        <% bookdata=googlebookapi_search_one(d.googlebooksid) %>
        <h3><%= truncate(bookdata.title, length:9) %></h3>
        <%= link_to image_tag("#{bookdata.thumbnail}"), "#{bookdata.link}" %>
        </div>
    <% end %>
    </div>
    
    </div>
<% end %>
</div>
<% else %>
    <P>ログインしてください</P>
<% end %>