<h1>Main Page</h1>

<% @bookshelves.each do |data| %>
    <%= data.title %><br>
    <% shelfdata=BookCollectionList.where(Bookshelf_id: data.id) %>
    
    <% shelfdata.first(3).each do |d| %>
        <% bookdata=googlebookapi_search_one(d.googlebooksid) %>
        <%= bookdata.title %><br>
        <%= link_to image_tag("#{bookdata.thumbnail}"), "#{bookdata.link}" %><br>
    <% end %>
    
    <%= link_to 'show', "/#{data.id}/showshelf" %><br>
    <br>
<% end %>

<%= link_to 'new', "/new" %>
<%= link_to 'edit usr info', "#" %>