<div class="maincontents">
<div class="navi_index">
    <% url=generate_shereURL() %>
    <%= link_to 'Twitterで共有', "https://twitter.com/share?url=#{url}", title: 'Twitter', target: '_blank' %>
    <% if session[:email] %>
        <%= link_to '編集', "/edit" %>
    <% end %>
</div>
 
 <h2><%= @shelf.title %></h2>
 <div class="book_list">
<% if @shelfdata.empty? %>
    <p class="nofication"><%= "本がありません" %></p>
<% else %>
    <% @shelfdata.each do |d| %>
    <div class="book">
        <% data=googlebookapi_search_one(d.googlebooksid) %>
        <%= truncate(data.title, length:9) %><br>
        <%= link_to image_tag("#{data.thumbnail}"), "#{data.link}" %><br>
        </div>
    <% end %>
<% end %>
</div>
</div>
