<header>
    <h1>
        <a href="/">Scaffale</a>
    </h1>
    
    <div class="login">
        <nav>
            <a href="#">
                <% if session[:email] %>
                    <%= link_to 'ログアウト', top_logout_path %>
                <% else %>
                    <%= link_to 'ログイン', top_main_path %>
                <% end %>
            </a>
        </nav>
    </div>
</header>

<h1>Show a Bookshelf</h1>
<% if @shelfdata==nil %>
    <%= "no data"  %><br>
<% else %>
    <% @shelfdata.each do |d| %>
        <% data=googlebookapi_search_one(d.googlebooksid) %>
        <%= data.title %><br>
        <%= link_to image_tag("#{data.thumbnail}"), "#{data.link}" %><br>
    <% end %>
<% end %>

<%= link_to 'edit', "/edit" %>