<!DOCTYPE html>
<html>
  <head>
    <title>Scaffale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik&family=Sofia+Sans:wght@800&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
    <h1>
        <a href="/">Scaffale</a>
    </h1>
    <div class="login">
        <nav>
            <% if session[:email] %>
                <%= link_to 'ログアウト', top_logout_path %>
            <% else %>
                <%= link_to 'ログイン', top_main_path %>
            <% end %>
            </a>
        </nav>
    </div>
</header>
    <%= yield %>
  </body>
</html>
